<footer class="footer">
  <div class="container">
    <small><%= t ".name" %></small>
    <nav>
      <ul>
        <li><%= link_to t(".link_about"), "/static_pages/about" %></li>
        <li><%= link_to t(".link_contact"), "/static_pages/contact" %></li>       
      </ul>
    </nav>
  </div>
</footer>
